<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>VR Website</title>
  <meta name="description" content="VR Website test">
</head>

<body>
  <div id="root">
    <%- include entities/scene %>
  </div>
</body>

</html>